{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Product Listing</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> <!--BOOTSTRAP-->

        <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script> <!--JQUERY-->

        <link rel="stylesheet" href="{% static 'shop/style.css' %}"> <!--CSS-->
    </head>
<body>
    <div class="container">

            <div class="row">
                <form class="col-md-12">
                    <div class="card card-sm">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col">
                                <input type="search" name="item_name" placeholder="Search for products" class="form-control form-control-borderless">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image }}" class="card-img-top">
                    <div class="card-body" style="background-color: #efeefa; color: #362b32;" >
                        <div class="card-title">
                            {{ product.title }}
                        </div>
                        <div class="card-text">
                            ₹{{ product.price}}
                        </div>
                        <div class="card-discounted_price">
                            {{ product.discounted_price }}
                        </div>
                        <div class="card-category">
                            {{ product.category }}
                        </div>
                        <br>
                        <a href="/{{ product.id }}" style="background-color: #f6eded; color: #181f20; padding: 8px 16px; border: 0.1px solid #4d4e4f; border-radius: 5px; text-decoration: none;" class="btn btn-warning">View</a>
                        
                        <!-- <a style="background-color: #F5F5F5; color: #092241; padding: 8px 16px; border: 1px solid #CCCCCC; border-radius: 5px;">Buy Now</a> -->
                       
                        &nbsp;&nbsp;&nbsp;

                        <button id="{{ product.id }}" style="background-color: #2C2C2C; color: #F5F5F5; padding: 8px 16px; border: none; border-radius: 5px;" class="btn atc btn-warning">Add To Cart</button>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
<br>
<hr>
        <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_objects.previous_page_number }}"> Previous </a>
                        </li>
                    {% endif %}
                    &nbsp;&nbsp;&nbsp; <!-- used to add space -->

                    <li class="page-item active">
                        <a href="?page={{ product_objects.number }}"></a>
                    </li>
                    &nbsp;&nbsp;&nbsp;  <!-- used to add space -->

                    {% if product_objects.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.next_page_number }}"> Next </a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>

    </div>
</body>

<script type="text/javascript">
    console.log('this is satyam');

    if(localStorage.getItem('cart')==null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    $(document).on('click', '.atc', function(){
        console.log('This add to cart button is clicked');
        var item_id = this.id.toString();
        console.log(item_id);
    });
</script>

</html>





